<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />

    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="App">
      {{title}}
      <p v-for="item in items">{{ item }}</p>
      <p>{{message}}</p>

      <!-- V-MODELS-->
      <label for="FirstName"> FirstName</label>
      <input v-model="checkedNames" type="checkbox" value="FirstName" />
      <label for="SecondName"> SecondName</label>
      <input v-model="checkedNames" type="checkbox" value="SecondName" />
      <br />
      <span>Checked names: {{ checkedNames }}</span>
      <!-- END of V-MODEL -->

      <!-- V-BIND -->
      <h3>What is your favorite kind of pie</h3>
      <textarea v-model="pie"></textarea>

      <br />
      <button :class="[pie ? activeClass : '']">Let us know!</button>
      <h5>{{activeClass}}</h5>
      <!-- END of V-BIND -->

      <!-- V-FOR -->
      <ul>
        <li v-for="number in 10" :key="number">{{ number }}</li>
      </ul>
      <!-- END of V-FOR -->

      <!-- V-FOR with Objects-->
      <p v-for="(value, key, index) in jokes" :key="value">
        {{ index }}. {{ key }} : {{ value }}
      </p>
      <!-- END of V-FOR with Objects-->

      <!-- V-ON or @ -->
      <div class="quantity">
        <button @click="counter > 0 ? counter -= 1 : 0">-</button>
        <span>Quantity: {{ counter }}</span>
        <button @click="counter += 1">+</button>
      </div>
      <button @click="">Submit</button>
      <!-- END of V-ON -->

      <!-- SUM CALCULATOR-->
      <div class="row">
        <h2>SUM CALCULATOR</h2>
        <span><input placeholder="Number" v-model.number="num1" /></span>
        <!-- v-model.text -->
        <span>+</span>
        <span
          ><input type="number" placeholder="Number" v-model.number="num2"
        /></span>
        <span>=</span>
        <span>{{num1 + num2}}</span>
      </div>
      <!-- END of CALCULATOR-->

      <!-- v-model.trim-->
      <p>
        v-model.trim
        <input type="text" v-model.trim="text" />
        <span class="color-mark">{{text}}</span>
      </p>
      <!-- END of v-model.trim -->

      <!-- v-model.lazy -->
      <p>
        v-model.lazy<input type="text" v-model.lazy="texting" /><span
          class="color-mark"
          >{{texting}}</span
        >
        <button @click="">Show Input</button>
      </p>
    </div>
    <script src="app.js"></script>
  </body>
</html>
