<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="App">
      <product
        v-for="item in items"
        :item="item.item"
        :url="item.url"
        :key="item.item"
      >
      </product>
      <img v-for="item in items" :src="item.url" alt="" />
    </div>
    <script src="App.js"></script>
  </body>
</html>
